
/* Esse é o titulo da pagina de Login*/
.titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo h1{
    color: blue;
}

.titulo h2{
    display: flex;
    margin-top: -10px;
    font-size: 2vh;
}


/* Essa é a parte de Login em si*/
.login{
    position: relative;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}

/* Botões de entrar de login*/

button {
    font-family: Arial, Helvetica, sans-serif;
}

.entrar{
    margin-top: 20px;
}

.entrar {
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 8px;
    width: 30vh;
    height: 5vh;
    cursor: pointer;
}
.google {
    color: black;
    border: solid black 1px;
    border-radius: 8px;
    width: 30vh;
    height: 5vh;
    cursor: pointer;
}

/* Esses são os icones do Email e Senha*/
input{
    background-color: rgb(219, 219, 219);
    border-radius: 8px;
    border: none;
    width: 40vh;
    height: 5vh;
}

.icone{
    position: relative;
}

.icone i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.icone input{
    background-color: rgb(219, 219, 219);
    border-radius: 8px;
    border: none;
    width: 40vh;
    height: 5vh;
    padding-left: 40px; /* isso faz o texto não ficar em cima do ícone */
    outline: none;
}


/* Apenas um pequeno elemento de decoração*/
.ou{
    color: rgba(0, 0, 0, 0.39);
    font-family: Arial, Helvetica, sans-serif;
}

