*{
font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
}

/* Esse é o titulo da pagina de Login*/
.titulo{
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titulo h1{
    color: rgba(0, 89, 255, 0.877);
}

.titulo h2{
    display: flex;
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.63);
    font-size: 2vh;
}


/* Essa é a parte de Login em si*/
.login{
    position: relative;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}

/* Botões de entrar de login*/
.entrar{
    margin-top: 20px;
}

.entrar {
    background-color: #4285F4;
    font-size: 2vh;
    color: white;
    border: none;
    border-radius: 8px;
    width: 45vh;
    height: 5vh;
    cursor: pointer;
}
.google {
    color: black;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    border-radius: 8px;
    width: 45vh;
    height: 5vh;
    cursor: pointer;
    gap: 10px;
}

.google svg {
    display: block;
}

/* Esses são os icones do Email e Senha*/
input{
    background-color: rgb(235, 233, 233);
    border-radius: 8px;
    border: none;
    width: 40vh;
    height: 5vh;
}

.icone{
    position: relative;
}

.icone i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.icone input{
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    border: none;
    width: 40vh;
    height: 5vh;
    padding-left: 40px; /* isso faz o texto não ficar em cima do ícone */
    outline: none;
}

/* Criar conta nova*/
.c{
  display: flex;
  gap: 10px; 
}
.criar-conta{
    border: none;
    color: #4285F4;
    margin-top: 1.6px;
    background-color: white;
    height: 20px;
    cursor: pointer;
}
.info-criar{
    pointer-events: none;
    display: flex;
    margin-top: 3px;
    font-size: 14px;
}

/* Apenas um pequeno elemento de decoração*/
.ou{
    pointer-events: none;
    color: rgba(0, 0, 0, 0.39);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
